@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}

header {
    background-color: red;
    color: #fff;
    padding:  0 10px 10px 10px;
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    letter-spacing: 5px;
}

body {
    background-color: #f3e6ac;
}

main .pokemon-container > .pokemon-box {
    background-color: #f5ebc1;
    padding: 10px;
    border: 1px solid red;
    margin: 10px;
}

.pokemon-box > img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.pokemon-box > p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main  .pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
}

section input {
    margin: 10px;
}

section input[type=number] {
    width: 100%;
    padding: 10px;
    background-color: #f3e6ac;
    color: #000;
    outline: 0;
    border: 0px;
    border-bottom: 1px solid #000;
}

input[type=number]::-webkit-input-placeholder {
    color: #000;
}